*{ 
    
     background: #90928b;
    color: rgb(12, 12, 12);
    text-align: left;
font-family: cursive;
font-weight: 100;
font-size: medium;
font-style: inherit;
}
#photo3{
    
    display: flex;
}

.column{
    float: left;
    width: 20%;

}
.row{
    float: left;
}
.conteiner{
display: flex;
}

