*{ 
     background: rgb(143, 71, 71);
    color: rgb(12, 12, 12);
    text-align: left;
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: 100;
font-size: medium;
font-style: inherit;
}
#logo {
    display: inline-block;
    margin: 15px; /* margin: 20px was off */
    float: left;
    height: 60px;
    width: auto; /* correct proportions to specified height */
    border-radius: 50%; /* makes it a circle */
  }
    

