*{ 
    scroll-padding-top: ;
     background: #90928b;
    color: rgb(12, 12, 12);
    text-align: left;
font-family: cursive;
font-weight: 100;
font-size: medium;
font-style: inherit;
}
#photo3{
    float: right;
}

