*{
    background-color: #771953;
    background-attachment: scroll;
    background-image: image(Downloads/gallery);
    text-decoration: turquoise;
    text-decoration-style: dashed;
    font-size: unset;
    font-style: italic;
}